.interna-contato{
    background: url(../img/bg-contato.jpg) no-repeat center;
    background-size: cover;
}

/* Contato */

.contato{
    padding:15px 0 ;
}


.contato .form{
     padding-right: 60px;
 }

.contato .form label{
     display: block;
     font-family: Georgia, 'Times New Roman', Times, serif;
     font-size: 18px;
     line-height: 25px;
     margin-bottom: 4px;
     font-weight: bold;
 }

.contato .form input, textarea{
     display: block;
     width: 100%;
     background: #cecece;
     border: 4px solid #fec63e;
     padding: 7px 10px;
     outline: none;
     font-size: 14px;
     font-family: Georgia, 'Times New Roman', Times, serif;
     margin-bottom: 10px;
 }

.contato .form button{
     background: none;
     padding: 10px 40px;
     margin-top: 10px;
 }

 .dados{
     color: #000;
 }

 .contato-dados h3{
     font-size: 18px;
     text-transform: uppercase;
     color: #fec63e;
     font-style: italic;
     padding-top: 20px;
 }

 .contato-dados span{
     display: block;
     font-weight: bold;
     font-size: 18px;
    line-height: 30px;
     font-style: italic;
 }

 .contato-dados span:nth-last-of-type(even){
     margin-bottom: 30px;
 }

 .contato-dados ul {
    margin-top: 10px;
 }

 .contato-dados p{
    font-size: 16px;
    text-transform: uppercase;
    font-weight: bold;
    color: #cecece;
}
.contato-dados ul li{
    font-family: 'Times New Roman', Times, serif;
    font-size: 16px;
    padding: 2px 5px;
}

.contato-dados ul li {
    display: inline-block;
    margin-right: 2px;
}

.contato-dados ul li a {
    border: 3px solid #fec63e;
    display: block;
    padding: 10px;
}

.contato-dados ul li a:hover {
    border: 3px solid #fff;
    display: block;
    padding: 10px;
    transition: 0.1s  ease;
    transform:translateY(-15px);
    background-color: crimson;
} 

.contato-dados ul li a {
    border: 3px solid #fec63e;
    display: block;
    padding: 10px;
}

.contato-dados ul li a:hover {
    border: 3px solid #fff;
    display: block;
    padding: 10px;
    transition: 0.5s  ease;
    transform:translateY(-15px);
    background-color: crimson;
}

.contato-mapa{
    margin-bottom: 20px;
    padding-top: 10px;
}